doctype html
html
    head
        title= title
        meta( charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        //meta(name='description', content='Checktom is an international classifieds web-app created for local and international students focusing on housing, gigs, buy/sell opportunities.')
        meta(name='desc', content='Checktom is an international classifieds web-app created for local and international students focusing on housing, gigs, buy/sell opportunities.')
        meta(name='keywords', content='startup, entrepreneur, classified advertising, Copenhagen, Bootstrapping, checktom')
        // load bootstrap
        link(rel='stylesheet', href='assets/css/bootstrap/css/bootstrap.css')
        // load flatui
        link(rel='stylesheet', href='assets/libs/flatui/css/flat-ui.css')
        link(rel='stylesheet', href='assets/libs/switch-master/bootstrap-switch.min.customColors.css')
        link(rel='stylesheet', href='assets/css/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='assets/libs/woomark/css/main.css')

        link(rel='stylesheet', href='assets/css/stream.css')
        link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Lato")

    body
        #fb-root
        block scripts
        block content