style(type='text/css')
  /* Make default font Lato for the page */
  * {
  font-family: Lato;
  font-weight:200;
  }
  /* This is a single-line comment */
  .top-bar{
  background-color:white;
  height :60px;
  width:auto;
  background-attachment:fixed;
  background-position:top;
  }
  .tb.logo {
  height: 50px;
  margin: 0px;
  display: block;
  background: url('/assets/img/checktomlogo.png') no-repeat;
  background-position:center 15px;
  }
  .divider {
  width:420px;
  text-align:center;
  font-size:18px;
  margin-top:-10px;
  }
  .left {
  float:left;
  margin-right: auto;
  background:black;
  border:0;
  height: 1px;
  width:120px;
  }
  .right {
  float:right;
  margin-left: none;
  background:black;
  border:0;
  height: 1px;
  width:120px;
  }
  .login{
  margin: 20px;
  }
  body{
  background-color:#ECF0F1;
  }
  .vertical-space-10px{
  margin-top: 10px;
  }
  .vertical-space-20px{
  margin-top: 20px;
  }
  .vertical-space-40px{
  margin-top: 40px;
  }
  .vertical-space(@size){
  margin-top: (@size)px;
  }
  .btn-primary {
  background:#2F4B94;
  font-size:16px;
  }
  .form-control{
  font-size:14px;
  }
  .btn-custom {
  color: #50CD95;
  background-color: #ECF0F1;
  border-color: #50CD95;
  border-width: 2px;
  width:200px;
  font-size:16px;
  }
  p.login-text{
  font-size:24px;
  font-weight:bold;
  }
  p.login-lbl-info{
  color: #16C0EF;
  }
  p.your-email{
  font-size:18px;
  }
  p.forgot{
  font-size:14px;
  }
  a.recover
  {
  color: #50CD95;
  }
.top-bar
 .tb.logo
.login(align='center')
  .vertical-space-40px
  div
    p.login-text Log in to your Checktom account
  .vertical-space-40px
  div
    button#fbButton.btn.btn-primary(type='button') Log in with Facebook
  div
    .vertical-space(100)
    p.login-lbl-info
      span.glyphicon.glyphicon-info-sign
      | We will never post anything to Facebook or share your info with anybody
  .vertical-space-40px
  .divider
    hr.left
    | or with your email
    hr.right
  .vertical-space-40px
  form#LoginForm
    .row
      .col-md-4.col-md-offset-4
        .form-group
          input#inputEmail.form-control(type='email', placeholder='Email')
    .row
      .col-md-4.col-md-offset-4
        .form-group
          input#inputPassword.form-control(type='password', placeholder='Password')
    .vertical-space-20px
    button.btn.btn-custom(type='submit') SIGN IN
    .vertical-space-20px
    div
      p.forgot
        | Forgot your password?
        a.recover
          strong Recover account
      div
          p.forgot
              | Dont have an account yet? Signup!
              a.recover(href='#signup')
                  strong Sign up with email
