#navigation
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container
            .row
                .col-md-12
                    .nav-center-horizontally.nav-fixheight
                        .nav-center-vertically.nav-center-vertically-logofix
                            a(href='#signIn',onclick='window.location.href = "/#stream";')
                                img.nav-logo(src='./assets/img/checktomlogo.png')
    #login
        .login-container
            .login-content
                h1
                    | Recover or Reset Password
                br
                .login-split-email
                    table
                        tbody
                            tr
                                td
                                    hr
                                td.middle
                                    | Enter Email:
                                    br
                                td
                                    hr
                input#recoveryMail(type="text")
                br
                br
                button#NewMail.btn.btn-social-facebook.mrs
                    | Send