.container#AdmToolContainer
    #AdmToolHeaderContainer.col-md-12.col-lg-12
        #AdmToolHeader.col-md-10.col-md-offset-1.col-lg-10.col-lg-offset-1
            #SearchFieldContainer
            #AdmToolChecktomLogo
                img(src='/assets/img/Checktomlogo.png', alt='Checktom')
            #RightSideHeader
                button.btn.btn-info#AddNewItemBtn(type='submit') Log Out
                img(src='/assets/img/NotificationsIcon.png', alt='Checktom',id="NotificationsIcon")
    #AdmToolContent.container
        #AdmToolResultsTitle.col-md-10.col-md-offset-1.col-lg-10.col-lg-offset-1
            p Modules
        #AdmToolContentModules.col-md-10.col-md-offset-1.col-lg-10.col-lg-offset-1
            #AdmToolModule1.col-md-4.col-lg-4
                #ModuleGraphic1
                    img(src='/assets/img/BikeThumb.png')
                #ModuleTitleBar1
                    p ModuleName
                #textBox1
                    #ModuleText1
                        p something module description very long so it goes to second line because thats what we are testing here i am srsly
                #hourGlassBar1