body{
   background-color: #e9e9e9;

    font-family: "Lato", Helvetica, Arial, sans-serif;
}

/* NAVIGATION BAR START */
/* NAVIGATION BAR START */
/* NAVIGATION BAR START */
#navigation {
    width: 100%;
    height: 70px;
}

/* CHANGE HEIGHT ON NAVIGATION BAR FOR NON-DESKTOP SCREENS */
@media  (max-width: 991px) {
    #navigation {
        height: 210px;
    }
}

/* NAV BAR BACKGROUD COLOR */
#navigation .navbar-default  {
    background-color: white;
}

/* USED TO FIX HEIGHT */
#navigation .nav-fixheight {
    height: 70px;
}

/* USED TO REMOVE PADDING */
#navigation .nav-no-padding {
    padding: 0;
}

/* SEARCH BAR PLACEHOLDER */
#navigation ::-webkit-input-placeholder {
    color: white;
}
/* FF 4-18 */
#navigation :-moz-placeholder {
    color: white;
}
/* FF 19+ */
#navigation ::-moz-placeholder {
    color: white;
}
/* IE 10+ */
#navigation :-ms-input-placeholder {
    color: white;
}

/* SEARCH FIELD*/
#navigation .navbar-form .form-control {
    background-color: #00bdef;
    color: white;
    height: 44px;
    width: 220px;
    border: none;
}

/* SEARCH FIELD FORM BORDER AND MARGIN REMOVAL */
#navigation .navbar-form {
    border: none;
    margin: 0;
}

/* SEARCH BUTTON PICTURE */
#navigation .navbar-default .navbar-form .input-group-btn .btn {
    color: white;
}

/* SEARCH BUTTON PICTURE PLACEMENT */
#navigation .input-group-btn {
    float: left;
}

/* LOGO */
#navigation .nav-logo {
    width: 111px;
    height: 15px;
}

/* ADD NEW ITEM BUTTON */
@media (min-width: 993px) {
    #navigation .btn-embossed {
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media (max-width: 1200px) {
    #navigation .btn-embossed {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* CENTER ITEMS HORIZONTALLY */
#navigation .nav-center-horizontally {
    text-align: center;
    align-content: center;
}

/* CENTER ITEMS VERTICALLY */
#navigation .nav-center-vertically {
    width: auto;
    display: inline-block;
}

/* FIX LOGO MARGIN TOP */
#navigation .nav-center-vertically-logofix {
    margin-top: 20px;
}

/* FIX SEARCH MARGIN TOP */
#navigation .nav-center-vertically-searchfix {
    margin-top: 13px;
}

/* FIX ADD NEW ITEM MARGIN TOP */
#navigation .nav-center-vertically-addfix {
    margin-top: 14px;
}

/* FIX PROFILE MARGIN TOP */
#navigation .nav-center-vertically-profilefix {
    margin-top: 12px;
}

/* NOTIFICATION ICON */
#navigation .nav-notification {
    font-size: 30px;
}

/* PROFILE DROPDOWN */
#navigation #nav-profile {
    width: 50px;
    height: auto;
    font-size: 30px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

/* NOTIFICATION DROPDOWN */
#navigation #nav-notification {
    width: 50px;
    height: auto;
    font-size: 30px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

/* PROFILE DROPDOWN BUTTON */
#navigation #nav-profile-menu .dropdown-menu li > a {
    font-size: 16px;
}

/* PROFILE DROPDOWN LOGOUT BUTTON */
#navigation #nav-profile-menu .dropdown-menu li:last-child > a {
    background-color: #40CEF3;
    color: white;
    border-radius: 0 0 1px 1px;
}
/* PROFILE DROPDOWN TOP HOVER FIX */
#navigation #nav-profile-menu .dropdown-menu li:first-child > a {
    border-radius: 1px 1px 0 0;
}

/* PROFILE DROPDOWN HOVER OVER */
#navigation #nav-profile-menu .dropdown-menu li > a:hover {
    background-color: #4FCD95;
    color: white;
}

@media (min-width: 993px) {
    /* PROFILE DROPDOWN MENU BACKGROUND */
    #navigation #nav-profile-menu .nav-dropdown-menu-whitebackground {
        background-color: #ffffff;
        border: 2px solid #bebebe;
        width: 300px;
    }

    /* PROFILE DROPDOWN MENU ARROW BORDER (BACKGROUND) */
    #navigation #nav-profile-menu .dropdown-menu:before {
        position: absolute;
        top: -8px;
        left: 262px;
        right: 16px;
        display: inline-block;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #bebebe;
        border-left: 8px solid transparent;
        content: '';
    }

    /* PROFILE DROPDOWN MENU ARROW FILL (FOREGROUND) */
    #navigation #nav-profile-menu .dropdown-menu:after {
        position: absolute;
        top: -6px;
        left: 265px;
        display: inline-block;
        border-right: 6px solid transparent;
        border-bottom: 6px solid white;
        border-left: 6px solid transparent;
        content: '';
    }
}
@media (max-width: 1200px) {

    /* PROFILE DROPDOWN MENU BACKGROUND */
    #navigation #nav-profile-menu .nav-dropdown-menu-whitebackground {
        background-color: #ffffff;
        border: 2px solid #bebebe;
        width: 200px;
    }

    /* PROFILE DROPDOWN MENU ARROW BORDER (BACKGROUND) */
    #navigation #nav-profile-menu .dropdown-menu:before {
        position: absolute;
        top: -8px;
        left: 162px;
        right: 16px;
        display: inline-block;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #bebebe;
        border-left: 8px solid transparent;
        content: '';
    }

    /* PROFILE DROPDOWN MENU ARROW FILL (FOREGROUND) */
    #navigation #nav-profile-menu .dropdown-menu:after {
        position: absolute;
        top: -6px;
        left: 165px;
        display: inline-block;
        border-right: 6px solid transparent;
        border-bottom: 6px solid white;
        border-left: 6px solid transparent;
        content: '';
    }
}

/* PROFILE DROPDOWN MENU LOGOUT TEXT */
#navigation #nav-profile-menu .nav-profile-menu-span-logout {
    font-weight: bolder;
}

/* PROFILE DROPDOWN MENU LOGOUT GLYPH */
#navigation #nav-profile-menu .nav-profile-menu-span-logout-glyph {
    font-size: 18px;
}

/* NOTIFICATION DROPDOWN MENU BROWSEOLDER TEXT */
#navigation .nav-notification-menu-span-browseolder {
    font-size: 10px;
    margin-top: 5px;
}

/* NOTIFICATION DROPDOWN MENU HR (LINEBREAK) */
#navigation #nav-notification-menu .dropdown-menu li > hr {
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    margin-bottom: 5px;
    margin-top: 5px;
}

/* NOTIFICATION DROPDOWN TOP HOVER FIX */
#navigation #nav-notification-menu .dropdown-menu li:first-child > a {
    border-radius: 1px 1px 0 0;
}

/* NOTIFICATION DROPDOWN BOTTOM HOVER FIX */
#navigation #nav-notification-menu .dropdown-menu li:last-child > a {
    border-radius: 1px 1px 0 0;
}

@media (min-width: 1201px) {
    /* NOTIFICATION DROPDOWN MENU BACKGROUND */
    #navigation #nav-notification-menu .nav-dropdown-menu-whitebackground {
        position: absolute;
        left: -200px;
        background-color: #ffffff;
        border: 2px solid #bebebe;
        width: 400px;
    }

    #navigation #nav-notification-menu .nav-notification-menu-span-browseolder {
        position: absolute;
        left: 140px;
        bottom: 5px;
    }


    /* NOTIFICATION DROPDOWN MENU ARROW BORDER (BACKGROUND) */
    #navigation #nav-notification-menu .dropdown-menu:before {
        position: absolute;
        top: -8px;
        left: 212px;
        right: 166px;
        display: inline-block;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #bebebe;
        border-left: 8px solid transparent;
        content: '';
    }

    /* NOTIFICATION DROPDOWN MENU ARROW FILL (FOREGROUND) */
    #navigation #nav-notification-menu .dropdown-menu:after {
        position: absolute;
        top: -6px;
        left: 215px;
        display: inline-block;
        border-right: 6px solid transparent;
        border-bottom: 6px solid white;
        border-left: 6px solid transparent;
        content: '';
    }
}
@media (max-width: 1200px) {

    /* NOTIFICATION DROPDOWN MENU BACKGROUND */
    #navigation #nav-notification-menu .nav-dropdown-menu-whitebackground {
        background-color: #ffffff;
        border: 2px solid #bebebe;
        width: 200px;
    }

    #navigation #nav-notification-menu .nav-notification-menu-span-browseolder {
        position: absolute;
        left: 34px;
        bottom: 5px;
    }

    /* NOTIFICATION DROPDOWN MENU ARROW BORDER (BACKGROUND) */
    #navigation #nav-notification-menu .dropdown-menu:before {
        position: absolute;
        top: -8px;
        left: 162px;
        right: 16px;
        display: inline-block;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #bebebe;
        border-left: 8px solid transparent;
        content: '';
    }

    /* NOTIFICATION DROPDOWN MENU ARROW FILL (FOREGROUND) */
    #navigation #nav-notification-menu .dropdown-menu:after {
        position: absolute;
        top: -6px;
        left: 165px;
        display: inline-block;
        border-right: 6px solid transparent;
        border-bottom: 6px solid white;
        border-left: 6px solid transparent;
        content: '';
    }
}




/* NAVIGATION BAR END! */
/* NAVIGATION BAR END! */
/* NAVIGATION BAR END! */
/* WHITEBOARD START */
/* WHITEBOARD START */
/* WHITEBOARD START */
#whiteboard {
    height: auto;
    width: 100%;
    margin: 30px 0 0 0;
    background-color: #ffffff;
    Padding: 30px;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

#whiteboard p {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: rgba(52, 73, 94, 0.78);
}
@media (min-width: 992px) {
    #left {
        padding-bottom: 35px;
    }
}
@media (max-width: 991px) {
    #location {
        margin-bottom: 35px;
    }

    #distance {
        margin-bottom: 50px;
    }
}

#location {
    padding-bottom: inherit;
}

#location .itemTitleWrapper {
    margin-top: 2px;
}

#location .form-control {
    height: 50px;
}

#distance {
    padding-bottom: inherit;
}

#middle {
     padding-bottom: 12px;
}

#middle .tagsinput-add-container {
    padding: 0;
}

#middle .tagsinput {
    padding-top: 7px;
    padding-bottom: 7px;
}

#middle .tagsinput-add {
    margin: 0;
}

#right {
    padding-top: 30px;
}

#right p {
    font-size: 30px;
    text-align: center;
}

#right p.results {
    font-size: 100px;
    font-weight: bold;
    color: #4FCD95;
}

#searchHashtag {
    padding-bottom: inherit;
}

#searchPrice{
    margin-top: 5px;
    padding-bottom: inherit;
}

#searchSpec .itemTitleWrapper {
    width: 100%;
}

#searchSpec .itemTitleWrapper span {
    width: 25px;
}

#searchSpec .itemTitleWrapper p {
    display: inline;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: rgba(52, 73, 94, 0.78);
}

#distanceSlider .distanceNr {
    position: absolute;
    top: 20px;
    font-size: 12px;
    left: -2.5px;
}

#distanceSlider .distance1 {
    left: -moz-calc(20% - 2.5px);
    left: -webkit-calc(20% - 2.5px);
    left: -o-calc(20% - 2.5px);
    left: calc(20% - 2.5px);
}

#distanceSlider .distance5 {
    left: -moz-calc(40% - 2.5px);
    left: -webkit-calc(40% - 2.5px);
    left: -o-calc(40% - 2.5px);
    left: calc(40% - 2.5px);
}

#distanceSlider .distance10 {
    left: -moz-calc(60% - 6px);
    left: -webkit-calc(60% - 6px);
    left: -o-calc(60% - 6px);
    left: calc(60% - 6px);
}

#distanceSlider .distance15 {
    left: -moz-calc(80% - 6px);
    left: -webkit-calc(80% - 6px);
    left: -o-calc(80% - 6px);
    left: calc(80% - 6px);
}
#distanceSlider .distanceUnlimited {
    left: -moz-calc(100% - 9px);
    left: -webkit-calc(100% - 9px);
    left: -o-calc(100% - 9px);
    left: calc(100% - 9px);
}

#priceSlider .sliderHandleWrapper {
    position: relative;
}

#priceSlider .priceToolTip {
    position: absolute;
    width: auto;
    min-width: 60px;
    top: 20px;
    left: -20px;
}

#priceSlider .priceToolTip .tooltip-inner {
    width: inherit;
}

#priceSlider .priceNr0 {
    position: absolute;
    top: 20px;
    font-size: 12px;
    left: -2.3px;
}

#priceSlider .priceNrUnlimited {
    position: absolute;
    top: 20px;
    font-size: 12px;
    left: -moz-calc(100% - 9px);
    left: -webkit-calc(100% - 9px);
    left: -o-calc(100% - 9px);
    left: calc(100% - 9px);
}

/* WHITEBOARD END! */
/* WHITEBOARD END! */
/* WHITEBOARD END! */
/* ITEM START! */
/* ITEM START! */
/* ITEM START! sdfs*/
.searchItem{

    width: 230px;
    background-color: white;
    position: relative;

}

.searchItem img{

    width:230px;
}
.searchItem hr{
    height: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}

.priceBox{
    background-color: #00bdef;
    width: 230px;
    height: 48px;
    color: #ffffff;
    text-align: end;
    padding: 5px;
    padding-top: 10px;
}

.itemTextBox{

    width: 230px;


}

.itemTextBox h3{
    margin: 0px;
    padding: 5px;
     font-size: 20px;
     color: green;

 }
.itemTextBox p{
    color: black;
    font-size: 10px;
    padding: 5px;
    margin-bottom: 0px;
}

.itemFooter{
    text-align: center;
    width: 230px;
    height: 43px;
    background-color: #ffffff;
}
#itemList{


    position: relative;
}
#itemList .view,#itemList .time, #itemList .like {
    font-size: 13px;
    opacity:0.6;
    width: 76.3px;
    float: left;
}

#main {
    margin-top: 40px;


}

/* ITEM END!  */
/* ITEM END! */
/* ITEM END! */
/* LOGIN START! */
/* LOGIN START! */
/* LOGIN START! */

#login {
    width: 100%;
}

#login .login-container {
    width: 100%;
    background-color: transparent;
    padding-top:60px;
}

#login .login-content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

#login h1 {
    font-size: 26px;
    font-weight: bold;
}

#login [class*="btn-social-"] {
    font-size: 18px;
    border-radius: 7px 7px 7px 7px;
}

#login .login-fb-promise {
    color: #69D3F0;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: table;
    overflow: hidden;
    padding: 5px;
}

#login .login-fb-promise span {
    font-size: 20px;
}

#login .login-fb-promise-text {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    font-weight: bold;
}

#login .login-split-email {
    text-align: center;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#login .login-split-email table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-size: 17px;
}

#login .login-split-email table tr td {
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
}

#login .login-split-email table tr td hr {
    border: 1.5px solid black;
}

#login .login-split-email .middle {
    padding: 0;
    margin: 0;
    width: 150px;
}

#login .login-email-form {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 641px) {
    #login .login-split-email table {
        width: 500px;
    }
    #login .login-email-form {
        width: 500px;
    }
    #login .login-email-form .btn-signin {
        width: 300px;
    }
}
@media (max-width: 640px) {
    #login .login-split-email table {
        width: 80%;
    }
    #login .login-email-form {
        width: 80%;
    }
    #login .login-email-form .btn-signin {
        width: 60%;
    }
}
@media (max-width: 399px) {
    #login .login-content h1 {
        font-size: 20px;
    }
}
@media  (max-width: 992px) {
    #login {
        margin-top: -140px;
    }
}

/* LOGIN EMAIL FORM PLACEHOLDER */
#login ::-webkit-input-placeholder {
    color: #7F8C8D;
}
/* FF 4-18 */
#login :-moz-placeholder {
    color: #7F8C8D;
}
/* FF 19+ */
#login ::-moz-placeholder {
    color: #7F8C8D;
}
/* IE 10+ */
#login :-ms-input-placeholder {
    color: #7F8C8D;
}

#login .login-email-form .btn-signin {
    background-color: transparent;
    border: 2px solid #2ECC71;
    color: #2ECC71;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 15px;
}

#login .login-email-form .form-control {
    border: none;
}

#login .login-email-form p {
    font-size: 16px;
}

#login .login-email-form p a {
    color: #2ECC71;
}

/* LOGIN END! */
/* LOGIN END! */
/* LOGIN END! */

/* SIGNUP START! */
/* SIGNUP START! */
/* SIGNUP START! */

#signup {
    width: 100%;
}

#signup .signup-container {
    width: 100%;
    background-color: transparent;
    padding-top:60px;
}

#signup .signup-content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

#signup h1 {
    font-size: 26px;
    font-weight: bold;
}

#signup [class*="btn-social-"] {
    font-size: 18px;
    border-radius: 7px 7px 7px 7px;
}

#signup .signup-fb-promise {
    color: #69D3F0;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: table;
    overflow: hidden;
    padding: 5px;
}

#signup .signup-fb-promise span {
    font-size: 20px;
}

#signup .signup-fb-promise-text {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    font-weight: bold;
}

#signup .signup-split-email {
    text-align: center;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#signup .signup-split-email table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-size: 17px;
}

#signup .signup-split-email table tr td {
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
}

#signup .signup-split-email table tr td hr {
    border: 1.5px solid black;
}

#signup .signup-split-email .middle {
    padding: 0;
    margin: 0;
    width: 150px;
}

#signup .signup-email-form {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

@media (min-width: 641px) {
    #signup .signup-split-email table {
        width: 500px;
    }
    #signup .signup-email-form {
        width: 500px;
    }
    #signup .signup-email-form .btn-signup {
        width: 300px;
    }
    #signup .signup-password-infobox-wrapper {
        width: 500px;
    }
}
@media (max-width: 640px) {
    #signup .signup-split-email table {
        width: 80%;
    }
    #signup .signup-email-form {
        width: 80%;
    }
    #signup .signup-email-form .btn-signup {
        width: 60%;
    }
    #signup .signup-password-infobox-wrapper {
        width: 100%;
    }
}
@media (max-width: 399px) {
    #signup .signup-content h1 {
        font-size: 20px;
    }
}
@media (max-width: 1130px) {
    #signup .signup-password-infobox-wrapper {
        margin-bottom: 100px;
    }
    #signup .signup-password-infobox-wrapper .signup-password-infobox {
        left: 0px;
        top: 20px;
    }

    #signup .signup-password-infobox-wrapper .signup-password-infobox .arrow {
        position:absolute;
        top: -19px;
        left: 20px;
        width:0;
        height:0;
        border-color: transparent transparent #00BDEF transparent;
        border-width:10px;
        border-style:solid;
    }

    #signup .signup-username-check {
        top: -100px;
    }
}

@media  (max-width: 992px) {
    #signup {
        margin-top: -140px;
    }
}

/* signup EMAIL FORM PLACEHOLDER */
#signup ::-webkit-input-placeholder {
    color: #7F8C8D;
}
/* FF 4-18 */
#signup :-moz-placeholder {
    color: #7F8C8D;
}
/* FF 19+ */
#signup ::-moz-placeholder {
    color: #7F8C8D;
}
/* IE 10+ */
#signup :-ms-input-placeholder {
    color: #7F8C8D;
}

#signup .signup-email-form .btn-signup {
    background-color: transparent;
    border: 2px solid #2ECC71;
    color: #2ECC71;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 15px;
}

#signup .signup-email-form .form-control {
    border: none;
}

#signup .signup-email-form p {
    font-size: 16px;
}

#signup .signup-email-form p a {
    color: #00BDEF;
}
#signup .signup-password-infobox-wrapper {
    position: relative;
    background-color: black;
}
#signup .signup-password-infobox {
    background-color: #00BDEF;
    color: white;
    border-radius: 10px 10px 10px 10px;
    position:absolute;
    width: 250px;
    height: 50px;
    right: -300px;
    top: -50px;
}

#signup .signup-password-infobox p {
    padding:10px;
    font-size: 12px;
    background-color:#00BDEF;
    border:solid 1px #a0c7ff;
    -moz-border-radius:10px;
    -ie-border-radius:10px;
    -webkit-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
}


#signup .signup-password-infobox .arrow {
    position:absolute;
    top:22px;
    left:-19px;
    width:0;height:0;
    border-color:transparent #00BDEF transparent transparent;
    border-width:10px;
    border-style:solid;
}

#signup .signup-email-check {
    position: relative;
    height: 0px;
}

#signup .signup-email-check span {
    position: absolute;
    top: -65px;
    right: -30px;
    color: #bebebe;
    font-size: 15px;
}

#signup .signup-username-check {
    position: relative;
    height: 0px;
}

#signup .signup-username-check span {
    position: absolute;
    top: -35px;
    right: -30px;
    color: #bebebe;
    font-size: 15px;
}

#signup .cityAndSchoolPosition {
    margin-bottom: 30px;
}

#signup .city {
    margin-bottom: 30px;
    padding-left: 0;
    width: 100%;
}

#signup .schoolposition {
    margin-bottom: 30px;
    height: 40px;
    width: 100%;
}

#signup .student-check {
    margin-top: 20px;
}

#signup .cityAndSchoolPosition .dropdown-toggle {
    border: none;
}

#signup .dropdown-arrow {
    border-bottom: 7px solid #2ECC71;
}

#signup .dropdown-menu {
    background-color: #2ECC71;
}

#signup .dropdown-menu li > a:hover {
    background-color: #58D68D;
}

#signup .dropdown-menu li:first-child > a:hover {
    background-color: #58D68D;
    border-radius: 2px 2px 0px 0px;
}

#signup .dropdown-menu li:last-child > a:hover {
    background-color: #58D68D;
    border-radius: 0px 0px 2px 2px;
}

#signup .dropdown-menu a {
    color: white;
}

#signup .btn-fill-width {
    width: -moz-calc(100% - 45px);
    width: -webkit-calc(100% - 45px);
    width: -o-calc(100% - 45px);
    width: calc(100% - 45px);
    text-align: left;
}

#signup .menu-fill-width {
    width: -moz-calc(100% - 3px);
    width: -webkit-calc(100% - 3px);
    width: -o-calc(100% - 3px);
    width: calc(100% - 3px);
    text-align: left;
}

/* SIGNUP END! */
/* SIGNUP END! */
/* SIGNUP END! */
/* ADD NEW ITEM START! */
/* ADD NEW ITEM START! */
/* ADD NEW ITEM START! */

#addNewItemBox {
    background-color: #2ECC71;
    width: 100%;
    height: auto;
    display: none;
    padding-bottom: 25px;
    padding-top: 25px;
    position: fixed;
    left: auto;
    z-index: 100;
}

@media (max-width: 991px){
    #addNewItemBox .whiteboard {
        overflow-y: scroll;
        max-height: calc(100vh - 260px);
    }
}
@media (max-height: 545px) {
    #addNewItemBox .whiteboard {
        overflow-y: scroll;
        maxheight: 475px;
    }
}

#addNewItemBox .whiteboard {
    background-color: white;
    border-radius: 2px 2px 2px 2px;
    height: auto;
    -webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

#addNewItemBox .whiteboard span {
    padding-right: 5px;
}

#addNewItemBox .whiteboard .cancel {
    position: absolute;
    right: 0;
    padding-right: 10px;
    padding-top: 2px;
}

#addNewItemBox .whiteboard .cancelAddNewItemWrapper {
    height: 30px;
}

#addNewItemBox .whiteboard #cancelAddNewItem {
    width: auto;
    height: auto;
    font-size: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

#addNewItemBox .whiteboard .headline {
    height: 50px;
}

#addNewItemBox .whiteboard textarea {
    resize: none;
}

#addNewItemBox .whiteboard .addNewItemDescription {
    margin: 0px -4px 0px 0px;
    width: 100%;
    height: 165px;
}

#addNewItemBox .whiteboard .btn-upload-image {
    background-color: transparent;
    border: 2px solid #00BDEF;
    color: #00BDEF;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 15px;
    height: 50px;
}

#addNewItemBox .whiteboard .price {
    height: 50px;
}

#addNewItemBox .whiteboard .tagsinput {
    min-height: 50px;
    border-width: 2px;
}

#addNewItemBox .whiteboard .tagsinput input {
    width: 75px;
}

#addNewItemBox .whiteboard .tagsinput-add {
    margin-bottom: 0;
}

#addNewItemBox .whiteboard .btn-submit-wrapper {
    height: 50px;
    margin-bottom: 15px;
}

#addNewItemBox .whiteboard .btn-submit {
    background-color: transparent;
    border: 2px solid #4FCD95;
    color: #4FCD95;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 15px;
    margin-top: 32px;
    height: 50px;
}

#fadeBackground {
    display: none;
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    background-color: black;

    opacity: .75;
    filter: alpha(opacity=75);
    width: 100%;
    height: 100%;
    z-index: 90;
}
/* ADD NEW ITEM END! */
/* ADD NEW ITEM END! */
/* ADD NEW ITEM END! */
/* PROFILE SETTINGS START! */
/* PROFILE SETTINGS START! */
/* PROFILE SETTINGS START! */

#profileSettings {
    margin-top: 30px;
}


#profileSettings .user {
    background-color: white;
    min-height: 275px;
    border-radius: 4px;
    padding: 5px;
    color: #00BDEF;
    text-align: center;
    margin-bottom: 30px;
}

#profileSettings .user IMG {
    width: 150px;
    height: 150px;
    background-color: black;
    border-radius: 50%;
    margin-top: 20px;
}

#profileSettings .user p {
    margin-top: 50px;
}

#profileSettings .facebook {
    background-color: #00BDEF;
    height: auto;
    min-height: 275px;
    border-radius: 4px;
    padding: 5px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

@media (max-width: 991px) {
    #profileSettings .user {
        min-height: 50px;
    }

    #profileSettings .facebook {
        min-height: 50px;
    }
}

#profileSettings .facebook h1 {
    font-size: 30px;
    font-weight: none;
}

#profileSettings .facebook [class*="btn-social-"] {
    font-size: 18px;
    border-radius: 7px 7px 7px 7px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#profileSettings .settings {
    background-color: white;
    min-height: 325px;
    height: auto;
    border-radius: 4px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 30px;
}

#profileSettings .settings .col-md-12 {
    margin-bottom: 30px;
}

#profileSettings .settings a {
    color: #00BDEF;
    font-size: 15px;
}

#profileSettings .btn-group {
    width: 100%;
}

#profileSettings .btn-fill-width {
    width: -moz-calc(100% - 45px);
    width: -webkit-calc(100% - 45px);
    width: -o-calc(100% - 45px);
    width: calc(100% - 45px);
    text-align: left;
}

#profileSettings .menu-fill-width {
    width: -moz-calc(100% - 3px);
    width: -webkit-calc(100% - 3px);
    width: -o-calc(100% - 3px);
    width: calc(100% - 3px);
}

#profileSettings .settings .dropdown-toggle {
    border: none;
}

#profileSettings .settings .dropdown-arrow {
    border-bottom: 7px solid #2ECC71;
}

#profileSettings .settings .dropdown-menu {
    background-color: #2ECC71;
}

#profileSettings .settings .dropdown-menu li > a:hover {
    background-color: #58D68D;
}

#profileSettings .settings .dropdown-menu li:first-child > a:hover {
    background-color: #58D68D;
    border-radius: 2px 2px 0px 0px;
}

#profileSettings .settings .dropdown-menu li:last-child > a:hover {
    background-color: #58D68D;
    border-radius: 0px 0px 2px 2px;
}

#profileSettings .settings .dropdown-menu a {
    color: white;
}

/* PROFILE SETTINGS END! */
/* PROFILE SETTINGS END! */
/* PROFILE SETTINGS END! */